.App {
  font-family: "Space Mono";
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  position: relative;
  width: 100%;
}
.container div {
  border-top: 1px solid black;
  cursor: pointer;
  position: relative;
  margin-bottom: -2vw;
  background-color: white;
}
.container div p {
  pointer-events: none;
  margin: 0px;
  font-size: 3vw;
  padding-left: 10px;
  text-transform: uppercase;
}
